**Santiago Perez Gomez**

**Grupo 11**

**Version 0.1**

In [ ]:
inicio=int(input("ingrese el valor inicial : "))
fin=int(input("ingrese el valor final : "))
incremento=int(input("ingrese el incremento : "))
for x in range(inicio,fin,incremento):
  print(x)

In [1]:
mult=0
tabla=int(input("que tabla desea: "))
for x in range(1,11):
  mult = x*tabla
  print(tabla, "x", x,"=",mult)

que tabla desea: 6
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60

In [ ]:
mult=0
tabla=int(input("que tabla desea"))
x=1
while x<+11:
  mult=tabla* x
  print(tabla, "x",x,"=",mult)
  x=x+1